# Backend Requirements
statsmodels==0.14.4
# Flask Core & Utilities
Flask>=2.0
Flask-Cors>=3.0
python-dotenv>=1.0 # Added for .env support
Werkzeug>=2.0 # Flask dependency, good to specify
click>=8.0 # Flask CLI dependency
Flask-Caching # Add caching library

# Authentication & Session Management
Flask-Login>=0.6 # For user session management

# Data Handling & Analysis
pandas>=1.3
statsmodels>=0.13 # For SARIMA forecasting
patsy>=0.5 # Dependency for statsmodels
prophet>=1.0 # Added for forecasting
plotly>=5.0 # Added for interactive plots

# API Interaction
requests>=2.20 # Added for calling external APIs (Boulevard)

# Production Deployment
gunicorn 