.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background: #fff5f7; */
  color: #333;
}

.app-main {
  display: flex;
  flex-grow: 1;
}

.app-content {
  flex-grow: 1;
  padding: 20px;
  /* Remove solid background so glassmorphism is visible */
  /* background-color: #fff5f7; */
}

.app-sidebar {
  background: #fccdd3;
  color: #333;
} 